/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*portfolio's default font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;900&display=swap');

/*harry's font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

/*snusk's font*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

/*postcard's font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    font-family: 'Playfair Display', serif;
}

* {
	color: #f2f3f5; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:visited {
	color: inherit; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



section {
    height: 100vh;
    width: 100%;
	background-color: #0a2457; 
	display: flex; 
	align-items: center;
	justify-content: center;
}
.header-content {
	height: 6vh;
	width: 100vw; 
	margin: 1rem 0; 
	background-color: none; 
	position: fixed; 
	top: 0;
	display: flex; 
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;

	z-index: 99;
}

.header-content-name {
	margin: 0 .5rem; 
}
.header-content ul {
	display: flex; 
	align-content: center; 
	justify-content: center;
}
.header-content li {
	margin: 0 1rem; 
}

.intro, .about-me, .tech-ed, .refs-links-n-contact {
	height: 100vh; 
}
.refs-links-n-contact {
	position: relative; 
}

.projects {
	height: auto; 
}

.intro-container, .about-me-container, .tech-ed-tech-list-container, .projects-container, .refs-links-n-contact-container {
	width: 70%;
	padding: 1rem; 
}

.intro-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.intro-container-text {
	font-size: 10rem; 
	font-weight: bolder; 
}

.tech-ed-tech-list-education {
	margin-top: 3rem;
}
.about-me-container h1, .tech-ed-tech-list-container h1, .tech-ed-tech-list-education h1, .projects-container-top h1, .refs-links-n-contact-container h1  {
	font-size: 3.5rem;
	font-weight: 600; 
	margin: 2rem 0;
	text-align: center;
}

.about-me-container p, .tech-ed-tech-list-education p {
	font-size: 1.7rem;
	line-height: 2.5rem;
}
.about-me-text:after {
	content: '';
	animation: changingText infinite 5s;
	
}
@-webkit-keyframes changingText {
	0% {
		content: 'accessibility.';
	}
	20% {
		content: 'efficiency.';
	}
	40% {
		content: 'corporate image.';
	}
	60% {
		content: 'creativity.';
	}
	80% {
		content: 'technicalities.';
	}
	100% {
		content: 'fun.'; 
	}
}


.tech-ed-tech-list-icons {
	display: flex; 
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.tech-ed-tech-list-icons-icon {
	width: 3rem; 
	margin: 0 1rem; 
}
.sass {
	width: 4rem; 
}
.react {
	width: 4rem; 
}
.redux {
	width: 3.9rem; 
}
.firebase {
	width: 2.7rem;
}
.github {
	width: 3.5rem; 
}
.netlify {
	width: 3.7rem; 
}
.figma {
	width: 2.5rem; 
}
.adobe {
	width: 4rem; 
}

.projects-container {
	display: flex;
	flex-direction: column;
	width: 80%;
}
.projects-container-top {
	display: flex; 
	align-items: center;
	justify-content: center;
}
.projects-list {
	display: flex; 
	flex-direction: column;
	margin: 1rem 0; 
} 
.projects-list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem; 
}
.projects-list-item-screenshot, .projects-list-item-text {
	width: 50%; 
	margin: 0 1rem; 
}

.projects-list-item-text p {
	font-size: 1.7rem;
	line-height: 2.5rem;
}

.projects-list-item-screenshot {
	display: flex;
	align-items: center; 
	justify-content: center;
	position: relative; 
}
.projects-list-item-screenshot img {
	width: 100%;
	transition: all .7s; 
}
.projects-list-item-screenshot-link {
	position: absolute;
	margin: 0; 
	z-index: 99; 
	font-size: 2rem; 
	opacity: 0; 
	transition: all .7s; 
}

.projects-list-item-screenshot:hover .projects-list-item-screenshot-link {
	opacity: 1; 
	transition: all .7s; 
	cursor: pointer; 
}

.projects-list-item-screenshot:hover img {
	filter: brightness(25%);
	transition: all .7s; 
}

.projects-list-item-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.projects-list-item-text p {
	margin: 1rem 0; 
}

/*projects*/

.tetris-title {
	font-weight: bolder; 
}

.harry-title {
	font-family: 'Poppins', sans-serif;
}
.harry-title span {
	font-family: inherit;
	font-weight: 700; 
	letter-spacing: 5px;
}

.snusk-title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder; 
}

.postcards-title {
	font-family: 'Roboto', sans-serif;
	letter-spacing: .5px;
}

/*contact form*/

.refs-links-n-contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-form {
    width: 50%;
    display: flex; 
    flex-direction: column;
    background-color: var(--main-color); 
    color: var(--text-color); 
    align-items: center; 
    justify-content: center;

}

.contact-form-container-content {
    height: 14rem;
    width: 20rem; 
    max-width: 90%;
    max-height: 90%;
    display: flex; 
    flex-direction: column;
    align-content: center; 
    justify-content: space;
}

input[type="text"], input[type="email"], textarea {
    width: 100%; 
    border: none; 
    border-bottom: 1px solid var(--main-color);
    padding: 0.5rem; 
    margin: 0.2rem; 
    color: black; 
    background-color: white; 
    font-family: 'Playfair Display', serif;
    text-transform: uppercase; 
    font-size: .9rem; 
}
input[type=submit] {
    width: 50%; 
    border: none; 
    cursor: pointer;
    padding: 0.5rem; 
    margin: 0.2rem; 
    color: black; 
    background-color: white; 
    border: 1px solid var(--main-color); 
    transition: all 1s; 
    font-family: 'Playfair Display', serif;
    text-transform: uppercase; 
    font-size: .9rem; 
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Playfair Display', serif;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Playfair Display', serif;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Playfair Display', serif;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Playfair Display', serif;
  }

.alert {
    text-align: center;
    padding: 1rem; 
    display: none; 
}

.credits {
	width: 80%; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center; 
	position: absolute; 
	bottom: 10%; 

	font-size: 1.2rem; 
}
.credits p {
	margin: .5rem 0; 
}

@media screen and (max-width: 1290px) {

	.intro-container-text {
		font-size: 5rem; 
		font-weight: bolder; 
		margin: auto;
	}

	.intro-container, .about-me-container, .tech-ed-tech-list-container, .projects-container, .refs-links-n-contact-container {
		width: 95%;
		padding: .5rem; 
	}

	.tech-ed-tech-list-icons-icon {
		width: 3rem; 
		margin: 0 .5rem; 
	}

	.projects-list-item {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 .5rem; 
	}

	.projects-list-item-screenshot, .projects-list-item-text {
		display: flex; 
		align-items: center; 
		justify-content: center;
		width: 100%; 
		margin: 1rem; 
	}

	.projects-list-item-text p {
		font-size: 1.7rem;
		line-height: 2rem;
	}
}

@media screen and (max-width: 700px) {

	.header-content {
		margin: auto; 
	}

	.header-content-name {
		margin: 0 .2rem; 
	}
	
	.header-content a {
		margin: 0 .5rem; 
		font-size: .7rem; 
	}


	.intro-container-text {
		font-size: 3rem; 
		font-weight: bolder; 
		margin: auto; 
		
	}

	.projects-list-item-screenshot {
		width: 100%;
	}


}

